body {
    margin: 0;
    background-color: #f4f8fb;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #192d38;
  }

p {
    font-family: 'Inconsolata', monospace;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho-pagina {
    background-color: #69adc7;
    padding-top: 3rem;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-totoro {
    background-image: url(imagens/pngfind.com-studio-ghibli-logo-png-3859275.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}

.sobre-espaco-descricao-img {
    background-image: url(imagens/miyazaki.webp);
    background-size: cover;
    background-position: center;
}

.sobre-espaco-descricao-img-studio {
    background-image: url(imagens/pngfind.com-studio-ghibli-logo-png-3859275.png);
    background-size: cover;
    background-position: center;
}

.sobre-espaco-descricao-img {
    width: 100px;
    height: 100px;
    border-radius: 200px;
}

.sobre-espaco-descricao {
    width: 80%;
}

.curiosidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    background-color: #cbe2ec;
    padding-bottom: 3.5rem;
    margin-bottom: 8rem;
}

.curiosidades-titulo {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 3rem;
    border-bottom: 2px solid #192d38;
}

.sobre {
    width: 60%;
    height: 200px;
    overflow: auto;
    border: 2px solid #192d38;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8f0f6;
    margin-top: 3.5rem;
}


.sobre-cabecalho {
    display:flex;
    width: 100%;
    justify-content:space-around;
    padding-top: 2rem;
    background-color: #347795;
}

.sobre-cabecalho h1 {
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    font-family: 'Bebas Neue', sans-serif;
    color:#cbe2ec;
}

.sobre-descricao {
    margin-top: 2rem;
}

.sobre-espaco-descricao-img-studio {
    border: 1px solid #000;
}

.sobre::-webkit-scrollbar, .filmes article::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

.sobre::-webkit-scrollbar-track, .filmes article::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
  }
  
  .sobre::-webkit-scrollbar-thumb, .filmes article::-webkit-scrollbar-thumb {
    background-color: #192d38;
  }

 .rodape-pagina {
    background-color: #69adc7;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.filmes-titulo {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #192d38;
}

.background-titulo-curiosidades {
    background-color: #cbe2ec;
    width: 100%;
}

.curiosidades-titulo, .filmes-titulo {
    font-family: 'Josefin Sans', sans-serif;
}

 .filmes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    gap: 10px;
    row-gap: 10px;
 }

 .filmes article p {
    color:#e8f0f6;
    text-align: center;
    font-weight: bold;
    width: 70%;
    background-color: rgba(37, 68, 85, 0.5);
    padding: 1rem;
 }

.filmes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

 .filmes-titulo {
    margin-top: 3rem;
 }

 .filmes article {
    width: calc(100% / 3 - 10px);
    height: 200px;
    border-radius: 5px;
    border: 2px solid #192d38;
    box-sizing: border-box;
 }
.filmes h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #f4f8fb;
    letter-spacing: 2px;
}

 .filme1 {
    background-image: url(imagens/totoroo.jpg);
    background-position: center;
    background-size: cover;
 }

 .filme2 {
    background-image: url(imagens/viagem-chihiro.webp);
    background-position: center;
    background-size: cover;
 }

 .filme3 {
    background-image: url(imagens/ponyo.jpg);
    background-position: center;
    background-size: cover;
 }

 .filme4 {
    background-image: url(imagens/kiki.jpg);
    background-position: center;
    background-size: cover;
 }

 .filme5 {
    background-image: url(imagens/o-castelo-animado-studio-ghibli.jpg);
    background-position: center;
    background-size: cover;
 }

 .filme6 {
    background-image: url(imagens/princess-mononoke-047-jpg.jpg);
    background-position: center;
    background-size: cover;
 }