body {
    margin: 0;
    background-color: #fdfee8;
}

h1, a {
    font-family: 'DM Serif Display', serif;
    color: #855d0e;
}

a:active {
    color: #855d0e;
}

.cabecalho-pagina {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fbfec3;
}

.icone-titulo-pagina {
    display: flex;
}

.icone-titulo-pagina img {
    width: 80px;
}

.icone-titulo-pagina h1 {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.menu-navegacao {
    display: flex;
    align-items: center;
    width: 50%;
}

.menu-navegacao__lista {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
}

.menu-navegacao__item {
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
}

.menu-navegacao__item a {
    text-decoration: none;
    color: #855d0e;
    font-weight: bold;
}

.menu-navegacao__item a:hover {
    color: #ead208;
}

main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.formulario {
    background-color: #fcfe8a;
    padding: 2rem;
    width: 70%;
    border-radius: 10px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #855d0e;
    padding-bottom: .5rem;
    text-transform: uppercase;
    font-weight: 600;
}

legend, label, input[type="submit"], input[type="button"], .subtitulo-pagina {
    font-family: 'Poppins', sans-serif;
    color: #855d0e;
}

input[type="submit"], input[type="button"]{
    font-weight: 600;
    text-transform: uppercase;
}

.espaco-label {
    display: flex;
    align-items: center;
}

.div-legend {
    width: 100%;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fdfee8;
    
    margin-bottom: 1rem;
}

.espaco {
    display: flex;
    width: 70%;
}

.espaco-label {
    width: 30%;
}

input, select {
    width: 70%;
}

.div-cep, .div-cpf {
    display: flex;
    gap: .5rem;
    width: 73.5%;
}

.espaco-botoes {
    display: flex;
}

.espaco-botoes div {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

input[type="button"], input[type="submit"] {
    background-color: #ead208;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background: transparent;
    outline: 2px solid #ead208;
    cursor: pointer;
    color: #855d0e;
}