:root {
    font-family: 'Nanum Myeongjo', serif;
}
body {
    margin: 0;
    background-color: #972715;
}

.principal-pagina {
    margin-bottom: 6rem;
}

p {
    color: #f0f9f2;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #471108;
    font-weight: bold;
    text-shadow: 1.6px -1.5px #f0f9f2;
}

.cabecalho-pagina {
    background-image: url(imagens/os-amantes.jpg);
    background-size:auto;
    background-position:center;
    background-repeat:repeat-x;
    padding-top: 20px;
    height: 450px;
    box-sizing: border-box;
}
.menu-navegacao {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
}
.menu-navegacao-lista {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    display:flex;
    justify-content: space-around;
}

.menu-navegacao-item {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #f0f9f2;
    width: 20%;
}

.menu-navegacao-item a:hover {
   border-bottom: 4px solid white;
   width: 200px;
   cursor: pointer;
}

.div-titulo {
    display: flex;
    margin-top: 7rem;
    justify-content: center;
}

.div-titulo h1 {
    color: #f0f9f2;
    font-weight: 600;
    font-size: 2rem;
}

.resumo-vanguardas {
    width: 80%;
    margin-top: 7.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(66, 15, 8, 0.4);
    padding: 2rem;
}

.resumo-vanguardas p {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-transform: lowercase;
    text-shadow: 1px 0.2px #000;
}
article {
    margin-top: 5rem;
}

.futurismo-background {
    background-image: url(imagens/laugher-umberto-boccioni.jpg);
    background-size: contain;
    background-position:top center;
    height: 500px;
    display: flex;
    justify-content: center;
}

.surrealismo-background {
    background-image: url(imagens/surrealismo/rob-gonsalves.jpg);
    background-size: contain;
    background-position:top center;
    height: 500px;
    display: flex;
    justify-content: center;
}

.cubismo-background {
    background-image: url(imagens/cubismo/picasso-2.jpg);
    background-size:contain;
    background-position:top center;
    height: 500px;
    display: flex;
    justify-content: center;
}

.expressionismo-background {
    background-image: url(imagens/expressionismo/noite-estrelada.jpg);
    background-size:contain;
    background-position:top center;
    height: 500px;
    display: flex;
    justify-content: center;
}

.dadaismo-background {
    background-image: url(imagens/dadaismo/recorte_dada.webp);
    background-size:contain;
    background-position:top center;
    height: 500px;
    display: flex;
    justify-content: center;
}

.espaco-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.futurismo-background-texto {
    width: 50%;
    background-color: rgba(66, 15, 8, 0.7);
    padding: 3rem;
    text-align: center;
    text-transform: lowercase;
}

.div-titulo-futurismo {
    margin-left: auto;
    margin-right: auto;
    height: 0;
}

.titulo-futurismo{
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    position:relative;
    bottom: -2.6rem;
}
.espaco-texto {
    width: 50%;
}

.espaco-artes {
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.espaco-artes-futurismo1 {
    background-image: url(imagens/futurismo/depero-fortunato.webp);
    background-size:cover;
    height: 150px;
    width: 250px;
    z-index: 1;
    position: relative;
    top: 2rem;
}

.espaco-artes-futurismo2 {
    background-image: url(imagens/futurismo/depero.jpg);
    background-size:cover;
    height: 150px;
    width: 250px;
    position:relative;
    top: -3rem;
    left: -2rem;
    z-index: 0;
}

.espaco-artes-surrealismo1 {
    background-image: url(imagens/surrealismo/nao-cachimbo.webp);
    background-size:cover;
    height: 150px;
    width: 250px;
    z-index: 1;
    position: relative;
    top: 2rem;
}

.espaco-artes-surrealismo2 {
    background-image: url(imagens/surrealismo/salvador-dali.jpg);
    background-size:cover;
    height: 150px;
    width: 250px;
    position:relative;
    top: -3rem;
    left: -2rem;
    z-index: 0;
}

.espaco-artes-cubismo1 {
    background-image: url(imagens/cubismo/PicassoMulherChorandoDestaca.webp);
    background-size:cover;
    height: 150px;
    width: 250px;
    z-index: 1;
    position: relative;
    top: 2rem;
}

.espaco-artes-cubismo2 {
    background-image: url(imagens/cubismo/Pablo-Picasso-cubismo.jpg);
    background-size:cover;
    height: 150px;
    width: 250px;
    position:relative;
    top: -3rem;
    left: -2rem;
    z-index: 0;
}

.espaco-artes-expressionismo1 {
    background-image: url(imagens/expressionismo/o-grito.jpg);
    background-size:cover;
    height: 150px;
    width: 250px;
    z-index: 1;
    position: relative;
    top: 2rem;
}

.espaco-artes-expressionismo2 {
    background-image: url(imagens/expressionismo/van-gogh.jpg);
    background-size:cover;
    height: 150px;
    width: 250px;
    position:relative;
    top: -3rem;
    left: -2rem;
    z-index: 0;
}

.espaco-artes-dadaismo1 {
    background-image: url(imagens/dadaismo/mictorio.jpg);
    background-size: contain;
    background-position:bottom;
    height: 150px;
    width: 250px;
    z-index: 1;
    position: relative;
    top: 2rem;
}

.espaco-artes-dadaismo2 {
    background-image: url(imagens/dadaismo/francis-picabia.jpg);
    background-size:cover;
    height: 150px;
    width: 250px;
    position:relative;
    top: -3rem;
    left: -2rem;
    z-index: 0;
}

.footer-pagina {
    background-color: #471108;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-pagina p {
    text-align: center;
}
